@use 'variables' as *;

#layerAreaWrap {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:2000;

    &[aria-hidden="true"] {
        visibility:hidden;
    }

    .layerWrap {
       position:fixed;
       left:0;
       top:0;
       right:0;
       bottom:0;

        .layerBox {
            visibility:hidden;
            overflow:hidden;
            position:absolute;
            left:50%;
            top:50%;
            padding:40px 0 24px;
            border-radius:16px;
            background-color:$bg-wh;
            transform:translate(-50%, -50%) scale(.5);
            opacity:0;
            transition:all 300ms ease;

            .layerBody {
                padding:0 24px;
            }

            .layerCloseBtn {
                display:block;
                position:absolute;
                right:0;
                top:28px;
                width:24px;
                height:24px;
            }
        }

        .dim {
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background-color:rgba(0, 0, 0, .3);
        }

        &.isOpen {
            .layerBox {
                visibility:visible;
                transform:translate(-50%, -50%) scale(1);
                opacity:1;
            }
        }
    }
}