// font color
$txt-color-disabled:#cfcfcf;
$txt-color-wh:#fff;
$txt-color-gr:#707070;
$txt-color-gr02:#404040;

// background color
$bg-primary : #f52f6c;
$bg-secondary : #232326;
$bg-tertiary : #f2f3f5;
$bg-tertiary02 : #fff;
$bg-disabled : #f1f1f1;

// border color
$brd-primary : #f52f6c;
$brd-secondary : #232326;
$brd-tertiary : #f2f3f5;
$brd-tertiary02 : #e6e6e6;
$brd-disabled : #f1f1f1;