// font color
$txt-color-wh:#fff;
$txt-color-gr:#707070;

// background color
$bg-primary : #f52f6c;
$bg-secondary : #232326;
$bg-tertiary : #f2f3f5;

// border color
$brd-primary : #f52f6c;
$brd-secondary : #232326;
$brd-tertiary : #f2f3f5;