body, html {font-family:'NanumSquareRound, sans-serif';}

html, body, blockquote, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr,
iframe, input, legend, li, object, ol, p, pre, q, select, table, textarea, ul, tr, td{ margin:0;padding:0}
ul, ol, li{list-style:none}
em, address {font-style:normal;}
h1, h2, h3, h4, h5, h6, strong {font-weight:800;}
table {width:100%;border-collapse:collapse;}
caption {overflow:hidden;margin:0;padding:0;width:0;height:0;font-size:0;line-height:0;}